/* Set CSS variables for colors and other values */
:root {
    --primary-color: #007bff; /* Primary color for the website */
    --secondary-color: #65b8db; /* Secondary color for the website */
    --light-color: #bcbcbc; /* Light color for backgrounds */
    --dark-color: #343a40; /* Dark color for text */
    --font-size: 1rem; /* Base font size */
    --line-height: 1.5; /* Base line height */
}
  body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light-color); /* I add the light color as the background color for the body */
    line-height: var(--line-height); /* I apply the line height */
  }

  /* Apply CSS styles to header */
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);
    padding: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Add a shadow to the header */
  }

  nav {
    list-style: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
   /* I apply the needed color and font size to the list items. I also add a hover effect to the list items. */
  li {
    margin-right: 2rem;
    color: var(--dark-color); 
    text-decoration: none;
    font-size: var(--font-size); 
    line-height: var(--line-height);
    font-size: 1.4rem;
  }
  
  li a:hover {
    color: var(--secondary-color); /* Here I change the text color on hover */
    background-color: var(--dark-color);  /* I change the background color on hover */
  }
  }
  /* define the properties for the items in the banner */
  .banner img {
    height: 5rem;
    border-radius: 50%;
  }
  
  h1 {
    margin: 0;
    font-size: 4vw;
    line-height: 1;
  }
  /* I added the image to the banner and I also added a flexbox to the banner 
  and I set the text to be centered. */
  .banner {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    height: 25vh; /* Here I set the banner height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    padding: 2% 4%;
  }

  .banner div{
    flex: 0 0 50%
  }

  .banner h2{
    color: var(--dark-color);
    font-size: 2vw;
    line-height: 1;
    background-color: var(--secondary-color);
  }

  p{
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0rem;
    margin-inline-end: 0px;
  }
  
  section {
    margin-bottom: 2rem;
    max-width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  h3 {
    text-align: right;
    border-right: 4px solid var(--primary-color);
    font-size: 2vw;
    padding: 15px;
    padding-right: 15px;
  }
  
  .work-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .work-grid a {
    flex: 1 0 33%; /* Here are define the flex-grow, flex-shrink, and flex-basis */
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1rem 1rem rgba(2, 1, 1, 0.15);
  }
  
  .work-grid img {
    width: 100%;
    display: flex;
    border: 5px solid var(--secondary);
    box-sizing: content-box;
  }
  
 /* I added a media query to change the flex-basis to 100% for the first child of the work-grid class. */
  .work-grid a:first-child {
  flex: 100%;
  }
  
  h4 {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--dark-color);
    background-color: var(--secondary-color);
  }
   
  /* Apply CSS styles to footer */
  footer {
    margin-bottom: 2rem;
    max-width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  footer ul{
    list-style: none;
    display: flex;
    align-items: center;
  }

/* Here are the responsive styles for screens less than or equal to 980px wide */
  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 0 0;
      justify-content: center;
      text-align: center;
    }
  
    .banner img {
      height: 3rem;
      border-radius: 50%;
      display: absolute;

    }
    
    h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    nav {
      justify-content: center;
    }

    h3 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 4vw;
    }
  }
  
  /* Here I set the responsive styles for screens less than or equal to 768px wide */

  @media screen and (max-width: 768px) {
    .work-grid,
    .work-grid :first-child{
      flex-basis: 100%;
    }
  
    .work-grid :first-child{
      min-height: 150px;
    }
  
    h1 {
      width: 100%;
      padding: 2px;
      margin-bottom: 10px;
      font-size: 10vw;
    }

    .banner {
      justify-content: center;
      text-align: center;
    }
  
    footer ul{
      flex-direction: column;
      align-items: flex-start;
    }
  }